h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

h2 {
  color: white;
}

body {
  background-image: url("catty.avif");
}

#form {
  color: white;
}

.btn {
  color: black;
  background-color: white;
}
